
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-bar{
width: 80%;
height: 4rem;
background-color:#EEA47FFF;
margin-bottom: 20px;
display: flex;
padding: 0px 20px;
align-items: center;
justify-content: space-between;
}

.fa-solid{
    color: #00539CFF;
    margin-right: 10px;
    }
    .header{
    width: 80%;
    height: 200px;
    background-color: #00539CFF;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

.header .logo{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .navbar-b{
    font-size: 30px;
    font-weight: bold;
    color: white;
    }

    .navbar ul{
    display: flex;
    list-style: none;
    }

    .navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color:#EEA47FFF;
    padding: 7px 15px;
    }

    /* Fix hover over the home icons */
    .navbar ul li a:hover {
    background-color: white;
    color: #EEA47FFF;
    border-radius: 3px;
    }

    .navbar-b{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }



    .sticky {
        position: fixed;
        top: 0;
        z-index:1;
        /* width: 100%; */
      }

    .dropdown{
    width: 100px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    
    }

.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid{
    color: #00539CFF;
}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: #EEA47FFF;
    color: white;
}
.container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head{
    background-color:#00539CFF;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}
.box{
  display: flex;
  justify-content: space-between;
  padding: 100px;
  border: 1px solid #EEA47FFF;
  border-radius: 5px;
  height: 200px;
        }

.img-box{
        width: 50%;
        height: 170px;
        display: flex;
        align-items:center;
        justify-content: center;
        }
.images{
    height: 100%;
  
}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: #00539CFF;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #00539CFF;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #EEA47FFF;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color:#EEA47FFF;
}
